#tabs
  %ul
    %li
      %a{:href => "#devices-tab"}Devices
    %li
      %a{:href => "#options-tab"}System Options
    %li
      %a{:href => "#reports-tab"}Reports
    %li
      %a{:href => "#notes-tab"}Notes

  #devices-tab
    Devices Page

  #options-tab
    Options Page

  #reports-tab
    Reports Page

  #notes-tab
    Notes Page