!!!
%html
  %head
    %title simple tab page

    %script{:type => "text/javascript", :src  => "external/jquery/jquery.js"}
    %script{:type => "text/javascript", :src  => "jquery-ui.min.js"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "jquery-ui.min.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "jquery-ui.structure.min.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "jquery-ui.theme.min.css"}

    :javascript
      $(document).ready(function() {
          $( "#tabs" ).tabs();
      });
%body
  = yield